@model PageDto

<ul>
    @foreach (var student in Model.Students)
    {
        <li>@student.Name</li>
    }
</ul>
<select>
    @foreach (var specialty in Model.EdProgram)
    {
        <option value="@specialty.Id">@specialty.Name</option>
    }
</select>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Subject</th>
            <th>Grade</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.Students)
        {
            <tr>
                <td>@student.Name</td>
                @for (var i = 0; i < student.Grades.Count; i++)
                {
                    <td>@student.Grades[i].Subject</td>
                    <td>@student.Grades[i].Value</td>
                    <td>
                        <a asp-action="UpdateGrade" asp-route-gradeId="@student.Grades[i].Id" asp-route-newValue="5">Update Grade</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>